.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;
}

.software-skill-inline-languages {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 8px;
  font-family: "Google Sans Regular";
  transition: transform 0.2s ease-in-out;
}

.software-skill-inline-languages:hover {
  transform: scale(1.1);
}

#tooltip-top > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
  border-radius: 5px;
  padding: 2.5px;
  margin-bottom: 2px;
}

#tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
}

/* @media (max-width: 400px) {
  .dev-icons-languages {
    font-size: 25px;
  }
} */

@media (max-width: 768px) {
  .software-skill-inline-languages {
    margin-right: 8px;
    margin-bottom: 6px;
    font-size: 1.5rem;
  }
  
  .dev-icons-languages {
    gap: 0.3rem;
  }
}
